<% include ../partials/header %>

<div class="genrefy-results-container">
    <div class="genrefy-results-header">
        <img class="spotify-logo" src="images/spotify.svg" alt="spotify logo" />
        <h2 class="genrefy-results-title">
            listened to on Spotify in the last 24 hours
        </h2>
    </div>
    <div class="get-new-data">
        (<a href="<%= startOverUrl %>">Start Again</a>)
    </div>
    <div class="genrefy-results-list">
        <% if(songsNumber.length === 0){ %>
            <div class="no-songs-found">No songs found</div>
        <% } %>
        <% count = 0 %>
        <% for(var i=0; i < sortedGenres.length; i++) { %>
            <% count = count + 1 %>
            <div class="list-top-section">
                <div class="genre-name"><%= sortedGenres[i][0] %></div>
                <div class="song-count">
                    <% if(sortedGenres[i][1] === 1){ %>
                        <%= sortedGenres[i][1] %> song
                    <% } else{ %>
                        <%= sortedGenres[i][1] %> songs
                    <% } %>
                </div>
            </div>
            <div
                class="list-bottom-section color-<%= count %>"
                style="width: <%= Math.ceil((sortedGenres[i][1] / songsNumber) * 100)  %>%"
            >
            </div>
            <% if(count === 12){ %>
                <% count = 0 %>
            <% } %>
        <% } %>
    </div>
</div>

<% include ../partials/footer %>
