<%- include("../partials/header") %>

<div class="genrefy-container">
    <img class="genrefy-loader" src="images/loader.svg" alt="genrefy logo" />
    <div id="resultsUrl" results-url="<%= showResultsUrl %>"></div>
    <div id="fileListUrl" file-list-url="<%= checkFileListUrl %>"></div>
    <div id="errorUrl" error-url="<%= errorUrl %>"></div>
</div>

<%- include("../partials/footer") %>
<script src="javascript/data.js"></script>
